.jumbotron {
    background: black;
    color: #900F01;
    font-weight: bold;
}

.panel-body {
    background: black;
    color: #900F01;
}

.btn {
    background: black;
    color: #900F01;
}